- name: fetch qkview from f5 by Dylan
  bigip_qkview:
    asm_request_log: "{{ item.asm_request_log }}"
    complete_information: "{{ item.complete_information }}"
    dest: "{{ item.dest }}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: "{{ bigip_qkview }}"
