- name: create a http profile by Dylan
  bigip_profile_http:
    name: "{{ item.name }}"
    state: present
    proxy_type: "{{ item.proxy_type }}"
    redirect_rewrite: "{{ item.redirect_rewrite }}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: "{{ bigip_profile_http }}"
