- name: Create a snatpool by Dylan
  bigip_snat_pool:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    members: "{{ item.members}}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: "{{ bigip_snat_pool }}"
