- name: import ssl certificates by Dylan
  bigip_ssl_certificate:
    name: "{{ item.name }}"
    content: "{{ item.content }}"
    state: present
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: "{{ bigip_ssl_certificate }}"
