- name: Create trunks by Dylan
  bigip_trunk:
    name: "{{ item.name }}"
    interfaces: "{{ item.interfaces }}"
    lacp_enabled: yes
    lacp_mode: active
    state: present
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: "{{ trunk_interface }}"
  ignore_errors: True #comment in Non-VE platform
#- name: test result
#  assert:
#    that:
#      - result is changed
#  ignore_errors: True #comment in Non-VE platform
