- name: Manage BIG-IP global settings
  bigip_sys_global:
    banner_text: "{{ item.banner_text }}"
    console_timeout: "{{ item.console_timeout }}"
    gui_setup: "{{ item.gui_setup }}"
    lcd_display: "{{ item.lcd_display }}"
    mgmt_dhcp: "{{ item.mgmt_dhcp }}"
    net_reboot: "{{ item.net_reboot }}"
    quiet_boot: "{{ item.quiet_boot }}"
    security_banner: "{{ item.security_banner }}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: {{ bigip_sys_global }}
