- name: create management route
  bigip_management_route:
    name: "{{ item.name }}"
    network: "{{ item.network }}"
    gateway: "{{ item.gateway }}"
    state: "{{ item.state }}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: "{{ bigip_management_route }}"
  tags: default
