- name: Add BIG-IP monitor for all addresses, port 514
  bigip_gtm_monitor_bigip:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    port: "{{ item.port }}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: "{{ bigip_gtm_monitor_bigip }}"
