- name: Manipulate static routes on a BIG-IP
  bigip_static_route:
    name: "{{ item.name }}"
    destination: "{{ item.destination }}"
    netmask: "{{ item.netmask }}"
    gateway_address: "{{ item.gateway_address }}"
    mtu: "{{ item.mtu }}"
    route_domain: "{{ item.route_domain }}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: "{{ bigip_static_route }}"
