- name: crete http monitor by Dylan
  bigip_monitor_http:
    name: "{{ item.name }}"
    send: "{{ item.send }}"
    receive: "{{ item.receive }}"
    interval: "{{ item.interval }}"
    timeout: "{{ item.timeout }}"
    time_until_up: "{{ item.time_until_up }}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: "{{ bigip_monitor_http }}"
