- name: crete vlans by Dylan
  bigip_vlan:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    tag: "{{ item.tag }}"
    tagged_interfaces: "{{ item.tagged_interfaces }}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: "{{ bigip_vlan }}"
