---
- name: improt multi ssl certificates
  hosts: F5
  connection: local
  gather_facts: no
  tasks:
  - name: Creating a pool by Dylan
    bigip_pool:
      name: web_pool_by_Dylan_1
      state: present
      description: my first test pool
      lb_method: round-robin
      monitor_type: single
      monitors: http
      slow_ramp_time: 300
      service_down_action: none
      priority_group_activation: 2

  - name: Creating a pool by Dylan
    bigip_pool:
      name: web_pool_by_Dylan_2
      state: present
      description: my first test pool
      lb_method: round-robin
      monitor_type: m_of_n
      quorum: 2
      monitors:
        - tcp
        - http
      slow_ramp_time: 300
      service_down_action: none
      priority_group_activation: 2

  - name: Creating a pool by Dylan
    bigip_pool:
      name: web_pool_by_Dylan_3
      state: present
      description: my first test pool
      lb_method: round-robin
      monitor_type: and_list
      monitors:
        - tcp
        - http
      slow_ramp_time: 300
      service_down_action: none
      priority_group_activation: 2
  - name: create pool members
    bigip_pool_member:
      name: 172.16.116.200
      state: present
      address: 172.16.116.200
      port: 80
      pool: web_pool_by_Dylan_1
      preserve_node: no
      priority_group: 3

  - name: create pool members
    bigip_pool_member:
      name: 172.16.116.200
      state: present
      address: 172.16.116.200
      port: 80
      pool: web_pool_by_Dylan_2
      preserve_node: no
