- name: Manage the software update settings of a BIG-IP
  bigip_software_update:
    auto_check: "{{ item.auto_check }}"
    auto_phone_home: "{{ item.auto_phone_home }}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
 loop: {{ bigip_software_update }}
