- name: run tmsh command on F5
  bigip_command:
    commands: "{{ item.commands }}"
    wait_for: "{{ item.wait_for }}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: "{{ bigip_command }}"
