- name: License BIG-IP using a key
  bigip_device_license:
    license_key: "{{ F5_LICENSE_KEY }}"
    accept_eula: "{{ item.accept_eula }}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: "{{ bigip_device_license }}"
