- name: Add the current device to the "device_trust_group" device group
  bigip_device_group_member:
    name: "{{ item.name }}"
    device_group: "{{ item.device_group }}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: "{{ bigip_device_group_member }}"
