- name: Manages traffic groups on BIG-IP
  bigip_traffic_group:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    mac_address: "{{ item.mac_address }}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: {{ bigip_traffic_group }}
