- name: Manage LTM virtual addresses on a BIG-IP
  bigip_virtual_address:
    address: "{{ item.address }}"
    arp: "{{ item.arp }}"
    auto_delete: "{{ item.auto_delete }}"
    icmp_echo: "{{ item.icmp_echo }}"
    route_advertisement: "{{ item.route_advertisement }}"
    traffic_group: "{{ item.traffic_group }}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: "{{ bigip_virtual_address }}"
