- name: Create a virtual server by Dylan
  bigip_virtual_server:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    default_persistence_profile: "{{ item.default_persistence_profile }}"
    fallback_persistence_profile: "{{ item.fallback_persistence_profile }}"
    irules: "{{ item.irules }}"
    ip_protocol: "{{ item.ip_protocol }}"
    enabled_vlans: "{{ item.enabled_vlans }}"
    description: "{{ item.description }}"
    destination: "{{ item.destination }}"
    type: "{{ item.type }}"
    pool: "{{ item.pool }}"
    port: "{{ item.port }}"
    snat: "{{ item.snat }}"
    source: "{{ item.source }}"
    profiles: "{{ item.profiles }}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: "{{ bigip_virtual_server }}"
