- name: create upd profile by Dylan
  bigip_profile_udp:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    datagram_load_balancing: "{{ item.datagram_load_balancing }}"
    idle_timeout: "{{ item.idle_timeout }}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: "{{ bigip_profile_udp }}"
