- name: Create a GTM HTTP monitor
  bigip_gtm_monitor_http:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    ip: "{{ item.ip }}"
    port: "{{ item.port }}"
    send: "{{ item.send }}"
    receive: "{{ item.receive }}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: "{{ bigip_gtm_monitor_http }}"
