- name: Set the DNS settings on the BIG-IP
  bigip_device_dns:
    name_servers: "{{ item.name_servers }}"
    search: "{{ item.name_servers }}"
    server: "{{ F5_SERVER }}"
    server_port: "{{ F5_SERVER_PORT }}"
    user: "{{ F5_USER }}"
    password: "{{ F5_PASSWORD }}"
    validate_certs: "{{ F5_VALIDATE_CERTS }}"
  loop: "{{ bigip_device_dns }}"
